.article {
  width: 100%;

  .text {
    h3 {
      font-size: 2rem;
      color: var(--heading);
      margin-bottom: 9px;
    }
    p {
      font-size: 1.2rem;
      color: var(--body);
    }
  }

  .info {
    display: flex;
    align-items: center;
    color: var(--info);
    margin-top: 1.4rem;
    font-size: 0.9rem;

    span {
      margin-right: 0.7rem;
    }

    p + p {
      margin-left: 1.5rem;
    }
  }
}
